EXPO_PUBLIC_SUPABASE_URL=https://gocnwzykansjrefadyoh.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvY253enlrYW5zanJlZmFkeW9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMjc2OTcsImV4cCI6MjA5MjgwMzY5N30.R8pnuIYP9FqzIKTCikRT4BAtmhkoQqPFWlYQjXPX444
